  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <!--<h2>Free Download at Start Bootstrap!</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->              
              <h2>With Technologists making matches, our success rate is over 85%*</h2>
              <h2>Time is precious. Let us save you some!</h2>

              <p >*April 2019, Percentage of Talent Matches (CV's put forward) where both the Client and the Candidate have confirmed that it was a great fit</p>
          </div>
      </div>
  </aside>
