<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">IT Recruitment with a difference!</h2>
                <hr class="light">
                <p class="text-faded">Are you looking for talent? We have current IT professionals interview candidates before you do.  We are not just a keyword matching service!</p>
                <p class="text-faded">Are you looking for a role? We give you our word: we will be up front and honest, and play no mind games or underhanded tactics just to place you in our roles.</p>
                <p class="text-faded">We want to give recruitment a shakeup!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
