<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">IT Recruitment with a Twist!</h2>
                <hr class="light">
                <p class="text-faded">Are you tired of interviewing candidates who aren’t technically strong enough?</p>
                <p class="text-faded">Do they look good on paper only to fail your technical assessment?</p>
                <p class="text-faded">Then we’re here to help!</p>
                <p class="text-faded">We have current IT professionals interview candidates before you do.  We are not just a keyword matching service!</p>
                <p class="text-faded">Are you looking for an exciting new role? We operate with complete integrity and will only present you with options that we think you will love.</p>
                <p class="text-faded">We want to give recruitment a shakeup!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
