<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hello Hiring Managers and Internal Talent Teams!</h2>
                <hr class="light">
                <p class="text-faded">Are you tired of screening dozens of CV's and candidates just to make one hire?</p>
                <p class="text-faded">As developers and agile practitioners ourselves, we have experienced this exact scenario when growing our delivery teams. We decided to solve this, teaming recruitment with the knowledge of technologists to provide a unique proposition that will provide everyone with a much better experience.</p>
                <p class="text-faded">Let us help you!
                <br><br></p>
                <h2 class="section-heading">Hello Technical Talent!</h2>
                <hr class="light">
                <p class="text-faded">Are you dreaming of a role that exceeds your expectations?</p>
                <p class="text-faded">Do you want to work with the latest tech alongside talented, like minded people?</p>
                <p class="text-faded">We operate with complete integrity and will only present you with roles that we think you will love!
                <br><br></p>
                <h2 class="section-heading">How are we different?</h2>
                <hr class="light">
                <p class="text-faded">We combine a team of talent matchers - experienced technical recruiters with a network of technologists - developers and agile practitioners who are currently working in the field.</p>
                <p class="text-faded">The talent matchers seek out the best professionals in the market, and the technologists perform a first stage screening.</p>
                <p class="text-faded">This unique process has proven that we can provide higher quality matches. The success of our matches, for both the companies we work with and our candidates, is our number one priority.</p>
                <p class="text-faded">
                <br></p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
