<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p><img src="img/Arrow.small.png" class="bullet">If you are hiring, are you finding that recruiters send you candidates who don't make the technical grade?
                </p>
                <p><img src="img/Arrow.small.png" class="bullet">If you are looking for an exciting new company to work for, are recruiters trying to push you into roles that aren't quite right for you?</p>
                <p><img src="img/Arrow.small.png" class="bullet">Our promise: we are Recruitment with a Twist!
                <br><br></p>
                <p><img src="img/Arrow.small.png" class="bullet">We thoroughly interview our candidates using current IT professionals, and strive for a great match both ways, saving everyone time.</p>
                <p><img src="img/Arrow.small.png" class="bullet">Put us to the test! Whether you're looking for talent, or looking for an exciting new role, drop us an email and let's see how we can help :)</p>
            </div>
	        <div class="col-lg-2 col-lg-offset-2 text-center">
	            <!--<a href="https://twitter.com/{{ site.twitter_username }}">
	                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.twitter_username }}</p>
	            </a>-->
	        </div>
	        <div class="col-lg-2 col-lg-offset-1 text-center">
	            <a href="mailto:{{ site.email }}">
	            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.email }}</p>
	            </a>
	        </div>
	        <div class="col-lg-2 col-lg-offset-1 text-center">
	            <!--<a href="https://github.com/{{ site.github_username }}">
	            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.github_username }}</p>
	            </a>-->
	        </div>
		</div>
	</div>
</section>