<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How We Work</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Get to know the Clients</h3>
                    <p class="text-muted">A Talent Matcher and IT Professional will meet with our client to learn about the Engineering culture,  Technology stack, and Company Vision</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>The Search Begins</h3>
                    <p class="text-muted">Our experienced Talent Matchers hunt the market for Top Technical Talent. Care is taken to ensure the candidate is fully aligned with the role, company and technology stack.
                    <br></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Technical Interview</h3>
                    <p class="text-muted">An established IT Practitioner will give further in depth detail about the position and complete a Technical Screening to ensure a fantastic mutual match.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Everybody is Happy!</h3>
                    <p class="text-muted">Due to our unique workflow and focus on integrity and talent matching, a perfect match is made with minimal time waste for all!</p>
                </div>
            </div>
        </div>
    </div>
</section>
