<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How We Work</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Get to know the Company</h3>
                    <p class="text-muted">A Recruitment Agent and IT Professional will meet with the company to learn about the engineering culture, the tech stack, and the company vision</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>The Search Begins</h3>
                    <p class="text-muted">The Recruitment agent searches the market for Top Talent
                    <br>
                    <br>
                    <br></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Get to know the Candidate</h3>
                    <p class="text-muted">An established IT Professional will assess the candidate's skills to determine if they are a great fit for each other</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Everybody is Happy!</h3>
                    <p class="text-muted">Due to our unique workflow and focus on integrity, a perfect match is made!</p>
                </div>
            </div>
        </div>
    </div>
</section>
